body{
    width:40vw;
    height:100vh;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
p{
    margin:0;
}
.input__buttons{
    width:200px;
}
button{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor:pointer;
}
button:first-child{
    margin-top:20px;
}
#output{
    width:150px;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid plum;
}
.background{
    background-color:aquamarine;
}
